@media (prefers-color-scheme: dark) {
    #logout {
        border-color: #5A5A5A !important;
        color: lightgray !important;
        background: rgb(255, 255, 255, 0);
    }
}

@media (prefers-color-scheme: light) {
    #logout {
        border-color: black !important;
        color: #301934 !important;
        background: rgb(255, 255, 255, 0);
    }
}

#logout {
    border: 1px solid black;
    border-radius: 5px;
    float: right
}

#googleLogin {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 3px;
}