@media (prefers-color-scheme: dark) {
    [role=button] {
        border-color: #5A5A5A !important;
        background: #5A5A5A !important;
        color: lightgray !important;
    }
}

#logout {
    margin: 1%;
    border: 1px solid black;
    border-radius: 5px;
}

#googleLogin {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 3px;
}