.NavBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    /* padding-top: 0.5%; */
    /* padding-bottom: 0.5%; */
    height: 7.15vh;
    /* padding: 1% */
    z-index: 999;
}

.link {
    margin: auto;
}

#userName {
    margin: auto;
    -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: light) {
    .dropdown-menu, .NavBar {
        background-color: white;
        background-image: linear-gradient(to bottom right, white, white, #CDB0EE);
    }

    #userName {
        background: -webkit-linear-gradient(purple, navy);
        background-clip: text;
    }

    .nav-link, .dropdown-item, .link {
        color: purple !important;
    }

    .dropdown-item:hover {
        background-color: navy !important;
        color: white !important;
    }
}

@media (prefers-color-scheme: dark) {
    .dropdown-menu, .NavBar {
        background-color: black;
        background-image: linear-gradient(to bottom right, black, black, navy);
    }

    #userName {
        background: -webkit-linear-gradient(lightblue, #CDB0EE);
        background-clip: text;
    }

    .nav-link, .dropdown-item, .link {
        color: lavender !important;
    }

    .dropdown-item:hover {
        background-color: lavender !important;
        color: black !important;
    }
}