.NavBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    height: 7.15vh;
}

.link {
    color: purple;
    margin: auto;
}

#userName {
    margin: auto;
    -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: light) {
    .NavBar {
        background-color: white;
        background-image: linear-gradient(to bottom right, white, white, #CDB0EE);
    }

    #userName {
        background: -webkit-linear-gradient(purple, navy);
        background-clip: text;
    }
}

@media (prefers-color-scheme: dark) {
    .NavBar {
        background-color: black;
        background-image: linear-gradient(to bottom right, black, black, navy);
    }

    #userName {
        background: -webkit-linear-gradient(lightblue, #CDB0EE);
        background-clip: text;
    }
}