.card {
    margin: auto;
    padding: auto;
    max-height: 90vh;
}

.card-body {
    max-height: 90vh;
    overflow-y: auto;
}

.card-text, .card-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cardButton {
    display: flex !important;
    justify-content: center !important;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    .navCard {
        background-image: linear-gradient(to bottom right, lightblue, lavender) !important;
        color: black;
    }
    
    .nav-link {
        color: black !important;
    }

    .cardButton {
        background-image: linear-gradient(to bottom right, navy, purple) !important;
        color: white !important;
    }
}

@media (prefers-color-scheme: dark) {
    .navCard {
        background-image: linear-gradient(to bottom right, navy, purple) !important;
        color: white;
    }

    .nav-link {
        color: lavender !important;
    }

    .nav-link.active {
        color: black !important;
    }

    .cardButton {
        background-image: linear-gradient(to bottom right, #CC92F8, lavender) !important;
        color: black !important;
        border: blue;
    }
}