#yes, #no {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#currentRSVP {
    background-color: lavender;
    margin: auto;
}

#yes {
    background-image: linear-gradient(to bottom right, navy, purple);
}

#no {
    background-image: linear-gradient(to bottom right, gray, black);
}

.rsvpInput {
    width: 100%;
}

#yesButton {
    float: right;
}