#yes, #no {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#rsvpPage {
    height: 88.55vh;
}

#currentRSVP {
    background-color: lavender;
    margin: auto;
}

#yes {
    background-image: url("../../assets/Artemis.jpg");
    background-size: 100% 100%;
}

#yesCard {
    background-color: rgba(0,0,0,.85) !important;
    padding: 2%;
    margin-top: 6.5%;
}

#no {
    background-image: url("../../assets/HadesPot.jpg");
    background-size: 100% 100%;
}

.rsvpInput {
    width: 100%;
}

.rsvpText {
    color: white;
}

#yesButton {
    float: right;
}

#noButton {
    border-color: black;
    border-width: 5px;
}

/* Modal: */
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rsvpTable {
    border: none !important;
    background: rgba(255, 255, 255, 0);
}

#rsvpTitle {
    text-align: center;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    .modal-content {
        background-image: linear-gradient(to bottom right, #CC92F8, lavender) !important;
        color: black !important;
    }

    .rsvpTable {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    .modal-content {
        background-image: linear-gradient(to bottom right, navy, purple) !important;
        color: lavender !important;
    }

    .rsvpTable {
        color: lavender;
    }
}