#statusPage {
    background-image: url("../../assets/cat_wow.png");
}

#statusText {
    background-color: rgba(0,0,0,.75) !important;
    margin: auto;
    color: #EEE1FF;
    padding: 2%;
    height: 90%;
    overflow: scroll;
}

th {
    background-color: rgba(0,0,80,.75);
    color: #EEE1FF;
    border-width: 1px !important;
    border-color: black !important;
}

td {
    background-color: rgba(0,0,150,.75);
    color: #EEE1FF;
    border-width: 1px !important;
    border-color: black !important;
}

.statusButton {
    border-color: black !important;
    padding: 1% !important;
}

.textInput {
    padding: 1% !important;
    margin: 0% !important;
    border-radius: 3px !important;
}