.status {
    display: flex;
    align-items: center;
    justify-content: center;
}

#statusTextItem, #editStatus {
    margin-left: auto !important;
}

.textInput {
    width: 100%;
}

th {
    text-align: center !important;
}