.page {
  height: 92.82vh;
  background-size: 100vw 100%;
  display: flex;
}

.App {
  min-height: 100vh;
  height: 100vh;
}

.button {
  margin: auto !important;
}

a {
  text-decoration: none !important;
}

@media (prefers-color-scheme: light) {
  .page {
    background-color: white;
    color: black;
  }

  #home {
    background-image: url("../assets/JJWeddingBanner\ \(LIGHT\).png");
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: black;
    color: white;
  }

  #home {
    background-image: url("../assets/JJWeddingBanner\ \(DARK\).png");
  }
}